fastapi
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
opencv-python
numpy
pandas
pytesseract
python-dotenv
pillow
pydantic-settings
deepface
tf-keras
prometheus-client
pytest
pytest-asyncio
httpx
